/* * {
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

/* I initially wanted to use the above code to reset my css but decided on using the html */

html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    min-height: 100%;
}
body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Outfit';
    min-height: 100%;
    max-width: 100%;
    background-image: url('images/container.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Layout */
.container {
    text-align: center;
    background-color: rgb(139, 187, 241);
    border-radius: 10px;
    margin: 30px auto;
    padding-top: 20px;
    max-width: 1440px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    gap: 5px;
        
}

 .sub_container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    max-width: 300px;
    border-radius: 15px;
    background-color: papayawhip;
    
} 
/* style */
.logo {
    max-width: 300px;
    min-height: 300px;
    border-radius: 15px;
}

.text-qr {  
    text-align: center;
    font-family: 'Outfit';
    max-width: 250px;
    display: inline-block;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    color: hsl(220, 15%, 55%);
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}

.attribution {
        font-size: 14px; 
        text-align: center;
        color: hsl(228, 45%, 44%); 
        padding: 1rem;       
}

.favicon {
    min-height:32px;
    max-width:32px;
    display: block;
    align-items: center;
    margin: auto;
    padding: 1em;
}
